main #section1 {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: center;
  height: 75vh;
  padding: 1rem;
}
main #section1 div:first-child {
  width: 100%;
  display: grid;
  padding: 2rem;
  gap: 1rem;
}
main #section1 div:first-child h2 {
  font-size: 2rem;
}
main #section1 div:first-child h2 span {
  color: #218F76;
}
main #section1 div:first-child button {
  width: 5.5rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  background-color: #218F76;
  font-weight: 900;
  font-size: 0.9rem;
}
main #section1 div:first-child button:hover {
  border: 1px solid #218F76;
  color: #218F76;
  background-color: #FFFFFF;
}
main #section1 img {
  width: 100%;
  height: 100%;
}
main #section2 {
  padding: 2rem;
}
main #section2 h2 {
  font-size: 1.5rem;
}
main #section2 h2 span {
  color: #218F76;
}
main #section2 section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}
main #section2 section div {
  border: 1px solid #218F76;
  border-radius: 10px;
  padding: 0.5rem;
  display: grid;
  justify-items: center;
}
main #section2 section div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
main #section2 section div h4 {
  margin-top: 0.5rem;
}
main #section3,
main #section5 {
  padding: 2rem;
}
main #section3 h2 span,
main #section5 h2 span {
  color: #218F76;
}
main #section3 button,
main #section5 button {
  width: 5.5rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  background-color: #218F76;
  font-weight: 900;
  font-size: 0.9rem;
  margin: 0 0.2rem;
}
main #section3 button:hover,
main #section5 button:hover {
  border: 1px solid #218F76;
  color: #218F76;
  background-color: #FFFFFF;
}
main #section3 section,
main #section5 section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 1.5rem;
  margin-top: 1rem;
}
main #section3 section .item_info,
main #section5 section .item_info {
  border: 1px solid #218F76;
  border-radius: 10px;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
}
main #section3 section .item_info .card,
main #section5 section .item_info .card {
  position: relative;
}
main #section3 section .item_info .card span,
main #section5 section .item_info .card span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #218F76;
  color: #FFFFFF;
  padding: 0.1rem 0.4rem;
  border-radius: 25px;
  z-index: 2;
}
main #section3 section .item_info .card img,
main #section5 section .item_info .card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
main #section3 section .item_info .card .over,
main #section5 section .item_info .card .over {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
main #section3 section .item_info .card .over .watch_icons,
main #section5 section .item_info .card .over .watch_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #section3 section .item_info .card .over .watch_icons i,
main #section5 section .item_info .card .over .watch_icons i {
  background-color: #218F76;
  padding: 0.7rem;
  border-radius: 50%;
}
main #section3 section .item_info .card:hover .over,
main #section5 section .item_info .card:hover .over {
  opacity: 1;
}
main #section3 section .item_info img,
main #section5 section .item_info img {
  width: 100%;
  border-radius: 5px;
}
main #section3 section .item_info button,
main #section5 section .item_info button {
  width: 5.5rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  background-color: #218F76;
  font-weight: 900;
  font-size: 0.9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
main #section3 section .item_info button:hover,
main #section5 section .item_info button:hover {
  border: 1px solid #218F76;
  color: #218F76;
  background-color: #FFFFFF;
}
main #section3 section .item_info #item_price,
main #section5 section .item_info #item_price {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  justify-items: end;
  align-items: center;
}
main #section4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2.5rem;
}
main #section4 #dealOfDay {
  background-image: url("../images/deals-1.jpg");
}
main #section4 #womensClothsDeal {
  background-image: url("../images/deals-2.png");
}
main #section4 #dealOfDay,
main #section4 #womensClothsDeal {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 2rem;
  display: grid;
  gap: 1.3rem;
}
main #section4 #dealOfDay h2,
main #section4 #womensClothsDeal h2 {
  font-size: 2rem;
  color: #218F76;
}
main #section4 #dealOfDay #countdownTimer,
main #section4 #womensClothsDeal #countdownTimer {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 50%;
}
main #section4 #dealOfDay #countdownTimer .ct,
main #section4 #womensClothsDeal #countdownTimer .ct {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  font-size: smaller;
}
main #section4 #dealOfDay #countdownTimer .ct div,
main #section4 #womensClothsDeal #countdownTimer .ct div {
  width: 4rem;
  height: 4rem;
  background-color: #218F76;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.2rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
main #section4 #dealOfDay button,
main #section4 #womensClothsDeal button {
  width: 5.5rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  background-color: #218F76;
  font-weight: 900;
  font-size: 0.9rem;
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
}
main #section4 #dealOfDay button:hover,
main #section4 #womensClothsDeal button:hover {
  border: 1px solid #218F76;
  color: #218F76;
  background-color: #FFFFFF;
}
main #section6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1.5rem 4rem;
}
main #section6 .outlet {
  display: grid;
  gap: 1.8rem;
}
main #section6 .outlet div {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem;
}
main #section6 .outlet div img {
  width: 100%;
  height: 100%;
}
main #section6 .outlet div span {
  color: #218F76;
  font-weight: 600;
}/*# sourceMappingURL=home.css.map */