@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 90% 10%;
    font-size: 1.2rem;
  }
  header #hamburgerIcon {
    visibility: visible;
  }
  header nav {
    grid-template-columns: 1fr;
    padding: 1rem;
    display: none;
  }
  header nav ul {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  header nav form {
    width: -moz-max-content;
    width: max-content;
    margin: 1rem 0;
  }
  header nav #cartIcons_section {
    width: -moz-max-content;
    width: max-content;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  main #section1 {
    grid-template-columns: 1fr;
    height: 100%;
  }
  main #section1 div:first-child h2 {
    font-size: 4rem;
  }
  main #section1 div:first-child p {
    font-size: 1.5rem;
  }
  main #section2 section {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 2rem;
  }
  main #section3 section,
  main #section5 section {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0;
  }
  main #section4 {
    grid-template-columns: 1fr;
  }
  main #section6 {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.8rem;
  }
  main #section6 .outlet {
    gap: 1rem;
  }
  main #section6 .outlet div {
    gap: 0.5rem;
  }
  main #myAccount {
    padding: 2rem;
  }
  main #compare {
    padding: 0.5rem;
  }
  main #compare table img {
    width: 75%;
    height: 75%;
  }
  main #compare table,
  main #compare th,
  main #compare td {
    padding: 0.5rem;
  }
  main #login {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 1.5rem;
  }
  footer #email_section {
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    padding: 1.5rem;
  }
  footer #email_section p {
    font-size: 0.9rem;
  }
  footer #address_section {
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    justify-items: start;
  }
}
@media only screen and (max-width: 426px) {
  main #section1 {
    gap: 2rem;
  }
  main #section1 div:first-child {
    padding: 0.5rem;
  }
  main #section1 div:first-child h2 {
    font-size: 3rem;
  }
  main #section2 {
    padding: 1rem;
  }
  main #section2 section {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  main #section3,
  main #section5 {
    padding: 1rem;
    place-items: center;
  }
  main #section3 section,
  main #section5 section {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  main #section3 #pageNumbers,
  main #section5 #pageNumbers {
    grid-template-columns: 10% repeat(6, 1fr) 10%;
  }
  main #section4 {
    padding: 1rem;
  }
  main #section4 #dealOfDay,
  main #section4 #womensClothsDeal {
    background-size: 100% 100%;
    padding: 1.5rem 1rem;
  }
  main #section4 #dealOfDay #countdownTimer,
  main #section4 #womensClothsDeal #countdownTimer {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  main #section4 #dealOfDay #countdownTimer .ct div,
  main #section4 #womensClothsDeal #countdownTimer .ct div {
    width: 3.5rem;
    height: 3.5rem;
  }
  main #section6 {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  main #pageNotify {
    padding: 1.5rem;
  }
  main #myAccount {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
  main #myAccount div:p {
    padding: 0.2rem;
  }
  main #login {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
  footer #email_section {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.1rem;
    padding: 1rem;
  }
  footer #address_section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}/*# sourceMappingURL=media.css.map */