@media only screen and (max-width:768px) {
    header {
        grid-template-columns: 90% 10%;
        font-size: 1.2rem;

        #hamburgerIcon {
            visibility: visible;
        }

        nav {
            grid-template-columns: 1fr;
            padding: 1rem;
            display: none;

            ul {
                grid-template-columns: 1fr;
                gap: 0.5rem;
            }

            form {
                width: max-content;
                margin: 1rem 0;
            }

            #cartIcons_section {
                width: max-content;
                grid-template-columns: 1fr;
                gap: 0.5rem;
            }
        }
    }

    // main style start //
    main {
        #section1 {
            grid-template-columns: 1fr;
            height: 100%;

            div:first-child {
                h2 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }

        #section2 {
            section {
                grid-template-columns: 1fr 1fr;
                padding: 0;
                margin-top: 2rem;
            }
        }

        #section3,#section5 {
            section {
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                padding: 0;
            }
        }

        #section4 {
            grid-template-columns: 1fr;
        }

        #section6{
            grid-template-columns: repeat(2,1fr);
            padding: 1.8rem;
            .outlet{
                gap: 1rem;

                div{
                    gap: 0.5rem;
                }
            }
        }
    }

    footer{
        #email_section{
            grid-template-columns: repeat(3,auto);
            gap: 1.5rem;
            padding: 1.5rem;
        }

        #address_section{
            grid-template-columns: repeat(3,auto);
            gap: 2rem;
            justify-items: start;
        }
    }
}

@media only screen and (max-width:426px) {

    main {
        #section1 {
            gap: 2rem;

            div:first-child {
                padding: 0.5rem;

                h2 {
                    font-size: 3rem;
                }
            }
        }

        #section2 {
            padding: 1rem;
            section {
                grid-template-columns: 1fr;
                gap: 1rem;
            }
        }

        #section3,#section5 {
            padding: 1rem;
            place-items: center;
            section {
                grid-template-columns: 1fr;
                gap: 1rem;
            }
        }

        #section4 {
            padding: 1rem;
            #dealOfDay,
            #womensClothsDeal {
                background-size: 100% 100%;
                padding: 1.5rem 1rem;

                #countdownTimer {
                    grid-template-columns: repeat(4, 1fr);
                    gap: 0.5rem;

                    .ct {
                        div {
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                    }
                }
            }
        }

        #section6{
            grid-template-columns: repeat(1,1fr);
            padding: 1rem;
        }
    }

    footer{
        #email_section{
            grid-template-columns: repeat(1,1fr);
            gap: 1.1rem;
            padding: 1rem;
        }

        #address_section{
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}