* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

// colors
$bg-color1: #218F76;
$bg-color2: #FFFFFF;
$bg-color3: #000000;
$font-color1: #218F76;
$font-color2: #FFFFFF;

a {
    text-decoration: none;
    color: #000;
}

@mixin btn($btnCOlor) {
    width: 5.5rem;
    height: 2.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    color: $font-color2;
    background-color: $btnCOlor;
    font-weight: 900;
    font-size: 0.9rem;

    &:hover {
        border: 1px solid;
        color: $bg-color3;
        background-color: $bg-color2;
    }
}

// Header Style Start //
header {
    display: grid;
    // border: 1px solid;
    grid-template-columns: 15% 2% 83%;
    align-items: center;

    img {
        width: 8rem;
        height: 6rem;
    }

    #hamburgerIcon {
        visibility: hidden;
        cursor: pointer;
    }

    nav {
        display: grid;
        grid-template-columns: 45% 45% 10%;
        align-items: center;
    }

    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    form div {
        border: 1px solid;
        padding: 0.4rem;
        display: grid;
        grid-template-columns: 90% 10%;
    }

    form input {
        height: 2rem;
        border: 0;
        outline: 0;
        font-size: 1.0125rem
    }

    ;

    form button {
        border: 0;
        background: 0;
        cursor: pointer;

        i {
            font-size: 1rem;
        }
    }

    #cartIcons_section {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        font-size: 1.3rem;
    }
}

// ----x---- Header Style End ----x--- //

// Main style Start //

main {

    // Section 1 start //
    #section1 {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-items: center;
        height: 75vh;
        padding: 1rem;

        div:first-child {
            width: 100%;
            display: grid;
            padding: 2rem;
            gap: 1rem;

            h2 {
                font-size: 2rem;

                span {
                    color: $font-color1 ;
                }
            }

            button {
                @include btn($bg-color1);
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    #section2 {
        padding: 2rem;

        h2 {
            font-size: 1.5rem;

            span {
                color: $bg-color1;
            }
        }

        section {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1.5rem;
            padding: 1.5rem;

            div {
                border: 1px solid $bg-color1;
                border-radius: 10px;
                padding: 0.5rem;
                display: grid;
                justify-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }

                h4 {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    #section3 {
        padding: 2rem;
        button {
            @include btn($bg-color1);
            margin: 0 0.2rem
        }

        section{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 3rem;
            padding: 1rem;
            margin-top: 1rem;

            .item_info{
                border: 1px solid $bg-color1;
                border-radius: 10px;
                padding: 0.5rem;
                display: grid;
                gap: 0.7rem;

                img{
                    width: 100%;
                    // height: 50%;
                    border-radius: 10px;
                }

                div{
                    display: grid;
                    grid-template-columns: 20% 20% 60%;
                    justify-items: end;
                }
            }
        }
    }
}