@import "resource";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a {
    text-decoration: none;
    color: $font-color3;
}


header {
    display: grid;
    grid-template-columns: 15% 2% 83%;
    align-items: center;

    #logo_section {
        img {
            width: 8rem;
            height: 6rem;
        }
    }

    #hamburgerIcon {
        visibility: hidden;
        cursor: pointer;

        img {
            @include icons;
        }
    }

    nav {
        display: grid;
        grid-template-columns: 45% 45% 10%;
        align-items: center;
    }

    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, auto);
        font-weight: 550;
    }

    form div {
        border: 1px solid;
        padding: 0.4rem;
        display: grid;
        grid-template-columns: 90% 10%;
    }

    form input {
        height: 2rem;
        border: 0;
        outline: 0;
        font-size: 1.0125rem;
    }

    form button {
        border: 0;
        background: 0;
        cursor: pointer;

        i {
            font-size: 1rem;
        }
    }

    #cartIcons_section {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        font-size: 1.3rem;

        img {
            @include icons;
        }
    }
}

// For all other Pages
main {
    #pageNotify {
        background-color: $bg-color4;
        padding: 1.5rem 3rem;
        margin-top: 0;
    }

    // Shop Page Section 3 Styling
    #section3 {
        #pageNumbers {
            display: grid;
            grid-template-columns: 35% repeat(6, 1fr) 45%;
            align-items: center;
            // justify-items: start;
            margin-top: 2rem;

            button {
                @include btn($bg-color1);
                width: 2rem;
                height: 2rem;
                border-radius: 10px;
            }
        }
    }
    
}



footer {
    margin-top: auto;

    #email_section {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        // justify-items: center;
        background-color: $bg-color1;
        padding: 2rem 5rem;

        p {
            font-size: 1.2rem;
        }

        input {
            padding: 0.5rem 1.5rem;
        }

        button {
            @include btn($bg-color3)
        }
    }

    #address_section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        justify-items: center;

        div:nth-child(1) {
            img {
                width: 6rem;
                height: 5rem;
            }

            p {
                span {
                    font-weight: 600
                }
            }

            #sm_icons {
                img {
                    @include icons;
                }
            }
        }

        div {
            display: grid;
            gap: 0.5rem;
        }
    }
}